<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FBI System</title>

    <link rel="stylesheet" href="/style/styles.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <script src="https://kit.fontawesome.com/0bc1c63e85.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div id="banner">
      <h1>FBI System</h1>
    </div>
  
    <h1 class="text-center mt-5">Spy: una espía despistada</h1>
  
    <div class="video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/i5ImONquFds?si=robC0XDCGxBGR8nf" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>

    <footer>
      <div class="contenedor my-4">
          <p>Página desarrollada con</p>
          <ul>
              <li>HTML:5</li>
              <li>CSS</li>
              <li>Javascript ES6</li>
              <li>Node:</li>
              <li>Express</li>
              <li>UUID</li>
              <li>Jimp</li>
              
          </ul>
      </div>
      </footer>
  
  </body>
</html>
