<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FBI System</title>

    <link rel="stylesheet" href="/style/styles.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <script src="https://kit.fontawesome.com/0bc1c63e85.js" crossorigin="anonymous"></script>
  </head>

  <body>
    
    <div id="banner">
      <h1>FBI System</h1>
  </div>
  
    <div class="card text-center border-0">
      <div class="card-body">
        <form action="/SignIn">
          <h5 class="mt-3 card-title text-center">Ingrese sus credenciales</h5>
          <div class="row d-flex align-items-center mb-1">
            <div class="my-2 col-12">Email:</div>
            <div class="col-7 m-auto"><input type="text" name="email" class="form-control" /></div>
          </div>
          <div class="row d-flex align-items-center">
            <div class="my-2 col-12">Password:</div>
            <div class="col-7 m-auto"><input type="text" name="password" class="form-control" /></div>
          </div>
          <button id="boton" class="btn mt-4">Ingresar</button>
        </form>
      </div>
    </div>
  
    <footer>
      <div class="contenedor my-4">
          <p>Página desarrollada con</p>
          <ul>
              <li>HTML:5</li>
              <li>CSS</li>
              <li>Bootstrap</li>
              <li>Express</li>
              <li>JsonWebToken</li>
              
          </ul>
      </div>
      </footer>
  
  </body>
</html>
